@import "tailwindcss";

input {
    @apply bg-cyan-400 m-2 p-0.5;
}

option {
    @apply text-fuchsia-800 font-bold;
}

option {
    @apply text-center rounded-[10px]
    /*tailwindcss -> rounded-2x1, de mi itt sima css-értéket adtunk a tailwind-osztálynak! -> [10px]*/
}

li {
    @apply text-shadow-cyan-950;
}